# Application Settings
APP_NAME=AERIAL-MULTICLASS-CLASSIFIER
HOST=0.0.0.0
PORT=8000
OUTPUT_DIR=./output
MODEL_PATH=models/yolov8n_seg/weights/best.pt
ALLOWED_MIMETYPES=image/png,image/jpg,image/jpeg
CORS_ORIGINS=http://localhost:3000,http://localhost:8000
LOG_DIR=./logs
